/*
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;

color:#fff; #ECO930
#

*/

/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap");

/*common css*/
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #6184542;
  color: #000;
  line-height: 1.5;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 55px;
}
.customebutton {
  padding: 10px 15px;
}
.customebuttontwo {
  padding: 15px 25px;
  font-size: 25px;
  background-color: #ec0930;
}
/*header area css*/
.headersection {
  padding: 25px 0;
}
/*slidersection css*/
.slidersection {
  padding: 50px 0;
}
.slidersection .carousel-inner h2 {
  color: #ec0930;
}
.slidersection .carousel-item h2 {
  color: #ec0930;
}
.slidersection img {
  height: 600px;
}
.slidersection .carousel-item p {
  color: black;
}
.slidersection .customebuttontwo {
  margin-bottom: 150px;
}

/*about us section*/
.aboutussection {
  padding: 30px 0;
  text-align: center;
}
.aboutussection h2 {
  color: #ec0930;
}

.aboutussection p {
  padding: 15px 0;
}

/*our service css*/
.ourservice {
  padding: 40px 0;
}
.ourservice .service2 {
}
/* register section css*/
.registersection {
  background-color: #ec0930;
  padding: 50px 0;
  color: #fff;
}
.registersection .customebuttontwo {
  background-color: #fff;
  color: #ec0930;
}

/*testimonial css*/
.testimonial {
  padding: 50px 0;
}
.testimonaltext {
  padding: 30px;
}
.testimonial .testimonial1 {
  margin: 0 40px;
  padding: 0 30px;
}
.testimonial .testimonial2 {
  background-color: #ec0930;
  color: #fff;
  margin: 0 40px;
  padding: 0 30px;
}
.testimonial .testimonial3 {
  background-color: #ec0930;
  color: #fff;
  margin: 0 40px;
  padding: 0 30px;
}
.testimonial1 img {
  padding-bottom: 10px;
}
.testimonial2 img {
  padding-bottom: 10px;
}
.testimonial3 img {
  padding-bottom: 10px;
}

/*oursponsors css*/
.oursponsors img {
  height: 100px;
}
